<p>ツイッタークローンからの BootStrap 導入で、CSS とこんがらがってひどい目にあった</p>
<p>アソシエーション設定してた気になってて、よく見たらfavoriteに記述がないのに質問してしまったw</p>
<p>なんか既にuser マイグレートにnameカラムが既にあってカラム追加したら既にあるエラーが出た</p>
<p>ヘロクにアップロードした時のコードに bainding.pry があるとコケる！</p>
<p>なんちゃってだいぶいんとぅこーど</p>
