<p>ツイッタークローンからの BootStrap 導入で、CSS とこんがらがってひどい目にあった</p>
<p>アソシエーション設定してた気になってて、よく見たらfavoriteに記述がないのに質問してしまったw</p>
<p>なんか既にuser マイグレートにnameカラムが既にあってカラム追加したら既にあるエラーが出た</p>
<p>cloud9 から ローカルに環境変更したらgit とか heroku とかの環境設定やり直しやで！！</p>
<p>ヘロクにアップロードした時のコードに bainding.pry があるとコケる！</p>
<p>画像が乗らないならconfig/environments/production.rbに設定を、config.assets.compile = true しないとアカンで〜</p>
<p>どういうわけだか /letter_opener は開くが、肝心の送信確認が出来ない。。</p>
<p>なんちゃってだいぶいんとぅこーど</p>
