// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ログインの色
.container h1{
	color: #FF5555;
}

// メアドとかの色
.container a{
	color: #FF5555;
}

// 表示されている物の位置設定
.container{
	  text-align: center;
}
